.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.app-title {
  text-align: center;
}

.dismiss-all-button {
  font-size: 14px;
  padding: 8px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 4px solid #fe8a71;
}

.navbar > * {
  margin: 0 12px;
}

form > * {
  display: inline-block;
  margin: 0 12px;
}

.navbar label {
  margin-right: 0;
}
